---
import Layout from "../layouts/Layout.astro";
import { SITE_GITHUB_URL } from "../constants";
---

<Layout title="Not Found">
  <h1>Not found</h1>
  <p>Well, this is awkward... The page you're looking for isn't here.</p>
  <p>
    If you think something's broken, please
    <a href={SITE_GITHUB_URL}>let us know</a>.
  </p>
</Layout>
