---
import Layout from "../layouts/Layout.astro";
import { SITE_GITHUB_URL, SITE_TITLE } from "../constants";
---

<Layout navItems={[{ label: SITE_TITLE, href: "/" }, { label: "not found" }]}>
  <p>you stumbled upon a page that doesn't exist.</p>
  <p>
    if you think this is an error, please
    <a href={SITE_GITHUB_URL}>file an issue</a>.
  </p>
</Layout>
