---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <h1>Not Found</h1>
  <p>
    If this looks like a mistake, please let me know on <a
      href="https://bsky.app/profile/smitbarmase.com"
      target="_blank">bluesky</a
    > or <a href="https://x.com/smitbarmase" target="_blank">x</a>.
  </p>
</Layout>
