---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<Layout h1={post.data.title}>
  <Content />
  <p style="font-style: italic;">
    you should follow me on x <a href="https://x.com/0xtimsb" target="_blank"
      >here</a
    >.
  </p>
  <p style="text-align: right;">
    posted on {
      new Date(post.data.date)
        .toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
        .toLowerCase()
    }
  </p>
</Layout>
