---
import { Suspense } from "simple-stack-stream/components";

import Layout from "../layouts/Layout.astro";
import Delay from "../components/Delay.astro";
// import { useAPI } from "../utils";

// const data = await fetch(useAPI("/handler"))
// 	.then((response) => response.json())
// 	.catch((err) => {
// 		throw new Error(`Couldn't build library ${err}`);
// 	});

export const prerender = false;
---

<Layout title="Welcome to Astro.">
	<main>Hello</main>
	<Suspense>
		<Delay />
		<p slot="fallback">Loading...</p>
	</Suspense>
	<p>so i'm not rendered until 5 seconds</p>
</Layout>
