---
import Layout from "../layouts/Layout.astro";

// import { useAPI } from "../utils";

// const data = await fetch(useAPI("/handler"))
// 	.then((response) => response.json())
// 	.catch((err) => {
// 		throw new Error(`Couldn't build library ${err}`);
// 	});

export const prerender = false;
---

<Layout title="Welcome to Astro.">
	<main>Hello</main>
	<p id="count">1</p>
	<button id="button">click</button>
</Layout>
<script>
	const button = document.getElementById("button") as HTMLButtonElement;
	button.addEventListener("click", () => {
		const count = document.getElementById("count") as HTMLParagraphElement;
		if (count.textContent) {
			count.textContent = (parseInt(count.textContent) + 1).toString();
		}
	});
</script>
