---
import Layout from "../layouts/Layout.astro";
import { useAPI } from "../utils";

// const data = await fetch(useAPI("/handler"))
// 	.then((response) => response.json())
// 	.catch((err) => {
// 		throw new Error(`Couldn't build library ${err}`);
// 	});
---

<Layout title="Welcome to Astro.">
	<main>Hello</main>
	<p id="box">
		<!-- {data.message} -->
	</p>
</Layout>
