---
import { PanelLeftClose, PanelLeftOpen } from "lucide-astro";

import Nav from "./Nav.astro";
---

<div data-panel="closed" class="group">
	<div
		class="absolute sm:relative inset-0 sm:inset-auto flex group-data-[panel=closed]:hidden sm:group-data-[panel=closed]:block"
	>
		<Nav />
	</div>
	<div class="sm:hidden absolute left-4 bottom-4 text-white z-10">
		<button
			id="panel-switcher"
			class="w-10 h-10 flex justify-center items-center rounded-lg bg-blue hover:bg-light-blue"
		>
			<PanelLeftClose class="size-6 group-data-[panel=closed]:hidden" />
			<PanelLeftOpen class="size-6 group-data-[panel=open]:hidden" />
		</button>
	</div>
</div>
