---
import { render } from "astro:content";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

import COMPONENTS from "../components";

const allPosts = await getCollection("posts");

const topLevelDirs = [
  ...new Set(
    allPosts
      .filter((post) => post.id.includes("/"))
      .map((post) => post.id.split("/")[0]),
  ),
];

const postsByDirectory = await Promise.all(
  topLevelDirs.map(async (dir) => {
    const dirPost = await getEntry("posts", dir);
    if (!dirPost) {
      throw new Error(`No post found for ${dir}`);
    }
    const { Content } = await render(dirPost);
    return {
      title: dirPost.data.title,
      sort: dirPost.data.sort || 0,
      DirContent: Content,
    };
  }),
).then((results) => results.sort((a, b) => a.sort - b.sort));
---

{
  postsByDirectory.map(({ title, DirContent }) => (
    <>
      <h2>{title}</h2>
      <DirContent components={COMPONENTS} />
    </>
  ))
}
