---
import { getCollection } from "astro:content";

const { slug } = Astro.props;

const allPosts = await getCollection("posts");

const children = allPosts.filter((post) => post.id.startsWith(`${slug}/`));
---

{
  children.length > 0 && (
    <ul>
      {children.map((post) => (
        <li>
          <a href={`/${post.id}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  )
}
