:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  --background: #01242e;
  --heading-color: #eee;
  --text-color: #ddd;
  --link-color: #8cc2dd;
  --visited-link-color: #8cc2dd;
  --code-background-color: #063542;
  --code-color: #489af1;
}

body {
  max-width: 580px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 48px;
  background-color: var(--background);
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: end;
  margin: 24px 0;
}

@media (max-width: 580px) {
  nav {
    margin: 16px 0;
  }
}

nav > a,
nav > span {
  margin-left: 16px;
}

li {
  margin-bottom: 8px;
}

ul {
  padding-left: 20px;
}

.post-footer {
  text-align: right;
}

h1 {
  font-size: 20px;
  line-height: 28px;
}

h2 {
  margin-top: 28px;
  font-size: 18px;
  line-height: 24px;
}

h3 {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

:not(pre) > code {
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  padding: 1px 4px;
}

pre {
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  padding: 20px;
}

a,
a:visited {
  color: var(--link-color);
}
