:root {
  font-family: sans-serif;
}

body {
  font-size: 16px;
  max-width: 650px;
  margin: 0 auto;
  padding: 16px;
}

nav {
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}

nav a {
  margin-left: 16px;
}

a {
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}
