*,
::before,
::after {
	box-sizing: border-box; /* 1 */
	border-width: 0; /* 2 */
	border-style: solid; /* 2 */
	border-color: theme("borderColor.DEFAULT", currentColor); /* 2 */
}

html,
:host {
	-webkit-text-size-adjust: 100%; /* 2 */
	-moz-tab-size: 4; /* 3 */
	tab-size: 4; /* 3 */

	-webkit-tap-highlight-color: transparent; /* 7 */
}

body {
	margin: 0;
}

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
	border-top-width: 1px; /* 3 */
}

abbr:where([title]) {
	text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-feature-settings: inherit; /* 1 */
	font-variation-settings: inherit; /* 1 */
	font-size: 100%; /* 1 */
	font-weight: inherit; /* 1 */
	line-height: inherit; /* 1 */
	letter-spacing: inherit; /* 1 */
	color: inherit; /* 1 */
	margin: 0; /* 2 */
	padding: 0; /* 3 */
}

button,
select {
	text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
	-webkit-appearance: button; /* 1 */
	background-color: transparent; /* 2 */
	background-image: none; /* 2 */
}

:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

button,
[role="button"] {
	cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* 1 */
	vertical-align: middle; /* 2 */
}

img,
video {
	max-width: 100%;
	height: auto;
}
