---
import "../reset.css";
import "../index.css";

interface Props {
	slug?: string;
}

const { slug } = Astro.props;

const title = slug ? slug.split("/").pop() : "";

const formattedTitle = `${title ? `${title} - ` : ``}smit barmase's website`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="preload"
			href="/fonts/noto-sans.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<title>{formattedTitle}</title>
	</head>
	<body>
		<nav>
			<a href="/">home</a>
			<div>
				<a
					href="https://x.com/smitbarmase"
					target="_blank"
					style="margin-right: 4px;">x</a
				>
				<a href="https://github.com/smitbarmase" target="_blank">github</a>
			</div>
		</nav>
		<slot />
	</body>
</html>
