---
import "../index.css";

interface Props {
  h1: string;
}

const { h1 } = Astro.props;

const isIndex = h1 === "tims";
const title = (!isIndex ? `${h1} - ` : "") + "0xtimsb";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
  </head>
  <body>
    <nav>
      {
        isIndex ? (
          <>
            <a href="mailto:0xtimsb@gmail.com">say hi</a>
            <a href="https://x.com/0xtimsb" target="_blank">
              x
            </a>
            <a href="https://github.com/0xtimsb" target="_blank">
              github
            </a>
          </>
        ) : (
          <a href="/">back</a>
        )
      }
    </nav>
    <h1>{h1}</h1>
    <slot />
  </body>
</html>
