---
import "../index.css";

interface Props {
	slug: string;
}

const { slug } = Astro.props;

let prefix = "";

if (slug === "404") {
	prefix = "not found - ";
} else if (slug !== "index") {
	prefix = `${slug} - `;
}

const title = prefix + "smit";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			{
				slug == "index" ? (
					<>
						<a href="https://x.com/smitbarmase" target="_blank">
							x
						</a>
						<a href="https://github.com/smitbarmase" target="_blank">
							github
						</a>
					</>
				) : (
					<a href="/">back</a>
				)
			}
		</nav>
		<slot />
	</body>
</html>
