---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

import "../styles/global.css";

import { SITE_AUTHOR } from "../constants";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content={SITE_AUTHOR} />
    <title>{title}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link
      rel="preload"
      href="/icons/external-link.svg"
      as="image"
      type="image/svg+xml"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Analytics />
    <SpeedInsights />
  </head>
  <body>
    <slot />
  </body>
</html>
